<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- Bootstrap Styles-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.theme.min.css">
    <!-- Customized Styles-->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!--jQuery 2.x-->
    <script src="/javascript/jquery-2.2.0.min.js"></script>
    <!--Bootstrap .js files-->
    <script src="javascript/bootstrap.min.js"></script>
</head>
<body>
    <!--Entire page-->
    <div class="page well">
        <!--Header-->
        <header role="banner">
            <!--Main navigation-->
            <nav class="navbar navbar-default" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="/" title="Home">Home</a></li>
                    <li><a href="/aboutme" title="About Me">About Me</a></li>
                    <li><a href="/projects" title="Projects">Projects</a></li>
                    <li><a href="/services" title="Services">Services</a></li>
                    <li><a href="/contactme" title="Contact Me">Contact Me</a></li>
                </ul>
            </nav>
        </header>
        <!--Main contents-->
        <div class="container well">