<!--Common header-->
<%- include partials/header.ejs %>
    <main role="main">
        <!--Title-->
        <h1><%= title %></h1>
        <!--Logo-->
        <img src="../images/logos/logo1.png" id="logo" title="Chil" alt="Chil">
        <div class="row">
            <div class="intro well">
                <!--Welcome message-->
                <h2 class="text-center">Welcome to Sunghie's Portfolio Website</h2>
            </div>
        </div>
    </main>
<!--Common footer-->
<%- include partials/footer.ejs %>