<!--Common header-->
<%- include partials/header.ejs %>
<main role="main">
    <!--Title-->
    <h1><%= title %></h1>
    <!--Projects in thumbnails-->
    <div class="projects row well">
        <!--First project-->
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="../images/projects/spk.PNG" alt="SOUR PATCH Kids">
                <div class="caption">
                    <h4>SOUR PATCH Kids</h4>
                    <p>Responsive website</p>
                    <a href="http://gc200283481.computerstudi.es/1-2/webUserInterfaceDesign/assignments/a2/spk.html" class="btn btn-info" role="button">View</a>
                </div>
            </div>
        </div>
        <!--Second project-->
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="../images/projects/newspaper.PNG" alt="News Article">
                <div class="caption">
                    <h4>News Article</h4>
                    <p>Online newspaper</p>
                    <a href="http://gc200283481.computerstudi.es/1-2/webUserInterfaceDesign/assignments/project/project.html" class="btn btn-info" role="button">View</a>
                </div>
            </div>
        </div>
        <!--Third project-->
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="../images/projects/silyball.PNG" alt="SILLY PUTTY BALL">
                <div class="caption">
                    <h4>SILLY PUTTY BALL</h4>
                    <p>Animation website</p>
                    <a href="http://gc200283481.computerstudi.es/1-3/advanced_web_interface_design/assignment/a3/a3.html" class="btn btn-info" role="button">View</a>
                </div>
            </div>
        </div>
        <!--Fourth project-->
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="../images/projects/fruitfarms.PNG" alt="Fruit Farms">
                <div class="caption">
                    <h4>Fruit Farms</h4>
                    <p>Bootstrap website</p>
                    <a href="http://gc200283481.computerstudi.es/1-3/advanced_web_interface_design/assignment/a1/bootstrap-3.3.4-dist/a1.html" class="btn btn-info" role="button">View</a>
                </div>
            </div>
        </div>
        <!--Fifth project-->
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="../images/projects/spectre007.PNG" alt="SPECTRE 007">
                <div class="caption">
                    <h4>SPECTRE 007</h4>
                    <p>jQuery website</p>
                    <a href="http://gc200283481.computerstudi.es/rachel/SPECTRE_007/spectre007.html" class="btn btn-info" role="button">View</a>
                </div>
            </div>
        </div>
        <!--Sixth project-->
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="../images/projects/myTODO.PNG" alt="myTODO">
                <div class="caption">
                    <h4>myTODO</h4>
                    <p>jQuery task manager</p>
                    <a href="http://gc200283481.computerstudi.es/1-2/clientSideScripting/assignments/project/project.html" class="btn btn-info" role="button">View</a>
                </div>
            </div>
        </div>
    </div>
</main>
<!--Common footer-->
<%- include partials/footer.ejs %>